<div class="single-product">

    <div class="d-flex h-100 align-items-center">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="img-section d-flex justify-content-center align-items-center">
                    <img src="assets/img/food2.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="h-100 d-flex justify-content-center align-items-center">
                    <div class="">
                        <div class="title">California egg benedict</div>
                        <p class="description"> <span style="font-weight:bold ;">Description &nbsp;:- &nbsp;
                            </span>Lorem
                            ipsum
                            dolor sit amet consectetur adipisicing elit. Odit quam aliquid modi
                            libero consequatur omnis corporis? Quis illo unde autem magnam hic dignissimos,
                            necessitatibus
                            ad
                            cumque
                            impedit explicabo expedita totam?</p>
                            <p class="description"> <span style="font-weight:bold ;">Offer &nbsp;:- &nbsp;</span>No</p>
                        <div class="price"> <span style="font-weight:bold ;">Price &nbsp;:- &nbsp; </span>$100</div>
                        <div class="stars">
                            <ngx-star-rating [(ngModel)]="rating" [disabled]="true"></ngx-star-rating>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>